  <!-- Info Blokcs -->
  <div class="row">
    <!-- Welcome Block -->
    <div class="col-md-8">
      <div class="headline">
        <h2>This is SallieWill</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag 'home-page-bottom.jpg', class: 'img-responsive margin-bottom-20' %>
        </div>
        <div class="col-sm-8">
            <p>SallieWill is a peer-to-peer investment network that helps high achieving students and graduates reduce the interest rates on their student loans by linking them to private investors who are excited to refinance the loans at a lower rate.</p>
            <ul class="list-unstyled margin-bottom-20">
                <li><i class="icon-ok color-green"></i>Direct Lender to Borrower Relationships</li>
                <li><i class="icon-ok color-green"></i>Ratings Beyond a Standard Credit Score</li>
                <li><i class="icon-ok color-green"></i>Mentorship & Employment Connections</li>
                <li><i class="icon-ok color-green"></i>Empowering Our Future Change Creators</li>
            </ul>
        </div>
      </div>
    </div><!--/col-md-8-->

    <!-- Latest Shots -->
    <div class="col-md-4">
      <div class="headline"><h2>Sallie Will Pay Off Her Loans</h2></div>
      <iframe width="400" height="225" src="//www.youtube.com/embed/hsh9SFeMrUY" frameborder="0" allowfullscreen></iframe>
    </div><!--/col-md-4-->
  </div><!--/row--> 
  <!-- End Info Blokcs -->