<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <span>SallieWill enables alumni to efficiently reduce the burden of loans on high achieving students.</span>
                <p>Now students can refinance their student loans through a peer-to-peer lending network that connects them with alumni who see the value in investing in our future. </p>
            </div>            
            <div class="col-md-3">
                <%= link_to "SEE HOW IT WORKS", pages_how_it_works_path, class: "btn-buy hover-effect" %>            
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->