<!--=== Content Part ===-->
<div class="container"> 
  <!-- Service Blocks -->
  <div class="row">
      <div class="col-md-4">
        <div class="service">
          <div class="desc">
            <h4>Peer-to-Peer Lending</h4>
            <p>Peer-to-Peer Lending (P2P) is method of debt financing that enables individuals to borrow and lend money without the use of an official financial institution as an intermediary. <strong><%= link_to "Learn more about investing.", pages_investing_path %></strong></p>
          </div>
        </div>  
      </div>
      <div class="col-md-4">
        <div class="service">
          <div class="desc">
            <h4>University Financing</h4>
                    <p>University Alumni Associations partner with SallieWill to help their students and graduates focus on launching into their careers by reducing the burdens of student loan interest rates. <strong><%= link_to "Explore our partners.", pages_partners_path %></strong></p>
          </div>
        </div>  
      </div>
      <div class="col-md-4">
        <div class="service">
          <div class="desc">
            <h4>Friends & Family</h4>
                    <p>Investment opportunities are not limited to university alumni. It’s not unusual for SallieWill borrowers to receive assistance from friends and family or private investors even on micro levels. <strong><%= link_to "See how it works.", pages_how_it_works_path %></strong></p>
          </div>
        </div>  
      </div>          
  </div><!--/row-->
  <!-- End Service Blokcs -->
</div>