<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    
      <div class="col-md-6 md-margin-bottom-40">
        <h1>How It Works</h1>
            <h4 style="color: #00578A">Do you want to get off the financial rollercoaster? It’s time you discovered Sallie Will.</h4>

            <p>Here’s how it works. Most high achieving college graduates have student loan debt. Amazingly even though they’ve demonstrated perseverance and responsibility, they are still charged the same interest rates as students who didn’t even graduate.</p>

            <p>Sallie Will gives them a vehicle to refinance their student loans at a lower rate which they’ve clearly earned because only the highest achievers are approved. As an investor you invest in notes which represent small fractions of loans, potentially hundreds or even thousands of loans, quickly and easily; diversifying your investment. As borrowers pay back their loans you get a stream of cash each month which can provide a solid return on your investment.</p>

            <p>So what are you waiting for? Get off the financial rollercoaster and join Sallie Will today.</p>

            <%=link_to "Browse Students", pages_students_path, class:'btn-buy' %>
      </div>
      <div class="col-md-6 md-margin-bottom-40">
        <div class="responsive-video">
            <iframe width="560" height="315" src="//www.youtube.com/embed/hsh9SFeMrUY" frameborder="0" allowfullscreen></iframe> 
        </div>
      </div>

  </div><!--/row-->
</div>