<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>PHILANTHROPIC CAPITAL:</i> <br /> <i>INVESTING IN OUR </i> <br /> <i>FUTURE</i></h2>
            <p><i>Connecting visionary alumni </i> <br /> <i>directly to high achieving</i> <br /> <i>students & graduates.</i></p>
            <div class="da-img"></div>
        </div>

    </div><!--/da-slider-->
</div><!--/slider-->
<!--=== End Slider ===-->

<div class="container">
<%= render "purchase_block" %>
<%= render "service_block" %>
<%= render "featured_blocks" %>
<%= render "info_block" %>
</div>

