<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    
      <div class="col-md-6 md-margin-bottom-40">
        <h1>Investor Opportunities</h1>
            <h4 style="color: #00578A; font-weight: bold">An opportunity to do good for someone as well as yourself.</h4>
            <p>Maybe you’re the alumni type who thrives on giving back. You might also be a private investor or an uncle of a very dedicated MBA graduate. Either way you know that in order to cultivate greatness we need to invest in people. SallieWill gives you the opportunity to find extreme achievers, purchase part or all of their student loan and finance it at a rate that helps them continue on their ambitious path to create a better future for generations to come.</p>
            <ul class="list-unstyled">
                <li><strong>Invest In the Best</strong> & the Brightest</li>
                <li>Choose a <strong>Micro or Macro Investment</strong></li>
                <li>Direct Funds to an <strong>Individual or a Pool</strong></li>
                <li> Earn a <strong>Sizeable Return</strong> On Investment</li>
                <li>Give Back to Those Who Will <strong>Lead the Future</strong></li>
            </ul><br />

            <strong><%= link_to "Make Your Profile", new_user_registration_path, class: "btn-u btn-large" %></strong>

      </div>

      <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe width="560" height="315" src="//www.youtube.com/embed/hsh9SFeMrUY" frameborder="0" allowfullscreen></iframe> 
            </div>
      </div>
  </div><!--/row-->
</div>