<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    
      <div class="col-md-6 md-margin-bottom-40">
        <h1>Investor Opportunities</h1>
            <p>Maybe you’re the alumni type who thrives on giving back. You might also be a private investor or an uncle of a very dedicated MBA graduate. Either way you know that in order to cultivate greatness we need to invest in people. SallieWill gives you the opportunity to find extreme achievers, purchase part or all of their student loan and finance it at a rate that helps them continue on their ambitious path to create a better future for generations to come.</p>
            <ul class="list-unstyled">
                <li>Invest In the Best & the Brightest</li>
                <li>Choose a Micro or Macro Investment</li>
                <li>Direct Funds to an Individual or a Pool</li>
                <li> Earn a Sizeable Return On Investment</li>
                <li>Give Back to Those Who Will Lead the Future</li>
            </ul><br />

            <!-- Blockquotes -->
            <blockquote>
                <p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why.</p>
                <small>CEO Jack Bour</small>
            </blockquote>
      </div>

      <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="http://player.vimeo.com/video/9679622" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
            </div>
      </div>
  </div><!--/row-->
</div>