<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
      <div class="col-md-9 md-margin-bottom-40">
        <h1>Partner Universities</h1>
        <br />
        <h3>Florida International University</h3>

        <p>The mission of the FIU Alumni Association is to serve the community of FIU alumni, students, family and friends by providing lifelong connections to FIU. Our purpose is to provide opportunities for FIU alumni, students, family and friends to support FIU’s key strategic initiatives which includes the the revitalization and expansion of financial resources, achieving academic excellence, enhancing research and creative initiatives, and engaging the community of FIU.</p>

      </div>
      <div class="col-md-3 md-margin-bottom-40">
      </div>
      <br />
      <div class="col-md-9 md-margin-bottom-40">

        <h3>University of Central Florida</h3>

        <p>The UCF Alumni Association is a community. It's a group of people that have a UCF experience, who care about the university and who want to stay connected to it. People like you. We're here to make sure you get the most from your UCF experience — using tools like events, activities and communications — for as long as you'd like to keep in touch.</p>

        </div>
        <div class="col-md-3 md-margin-bottom-40">
          <br />
        </div>
        <div class="col-md-9 md-margin-bottom-40">

        <h3>University of Florida</h3>

        <p>The mission of the University of Florida Alumni Association (Association) is to support exclusively the University of Florida's mission of teaching, research, and service as determined by the University of Florida Board of Trustees by fostering and enhancing the relationship between the University of Florida (University) and its alumni, students, and friends.</p>

        </div>
        <div class="col-md-3 md-margin-bottom-40">
          <br />
        </div>
        <div class="col-md-9 md-margin-bottom-40">

        <h3>University of Miami</h3>

        <p>Founded in 1930, the University of Miami Alumni Association is YOUR UM CONNECTION to more than 165,000 fellow alumni. Governed by a volunteer board of directors, the UMAA is committed to encouraging lifelong education, providing quality services and programming, and assisting in the continued development and enhancement of the University of Miami.</p>

        </div>
        <div class="col-md-3 md-margin-bottom-40">
          <br />
        </div>
        <div class="col-md-9 md-margin-bottom-40">

        <h3>University of South Florida</h3>

        <p>The USF Alumni Association is a self-funded, nonprofit organization comprised of former students and friends of the University of South Florida. We help alumni stay connected and provide meaningful ways for USF Bulls to support, promote and protect their University. There are more than 260,000 USF alumni worldwide who are critical to USF in achieving its goals.</p>

      </div>

  </div><!--/row-->
</div>