<!--=== Content Part ===-->
<div class="container">   
  <div class="row margin-bottom-30">
    
      <div class="col-md-6 md-margin-bottom-40">
        <h1>Lighten Student Loans</h1>
            <p>Like Sallie you worked hard your whole life. Sallie never took the path of least resistance, it was the right thing to do. You excelled throughout your education and within your community, but paying your way through grad school left you with a sizable debt. At SallieWill we believe in you and because of that we’ve given you a way to reduce the interest on your student loan.</p>
            <p>Reducing your interest from 7.9% to 5.9% on a $100,000 – 10 year loan will save you approximately $15,000 and at SallieWill you can be paired up with an investor who will help you reach that goal.</p>
            <ul class="list-unstyled">
                <li>You Did Better in Life, <strong>You Deserve</strong> a Better Rate</li>
                <li>Identity <strong>Hidden Until You Unlock</strong> it for an Investor</li>
                <li>Focus On Your Goals with <strong>Less Burden</strong> from Debt</li>
            </ul><br />
      </div>

      <div class="col-md-6 md-margin-bottom-40">
        <%= image_tag "students-sallie.jpg", width: "100%" %>
      </div>
  </div><!--/row-->
</div>