// Sallie Will Custom Stuff
// -Chris Scott

$color1: #2ca02c
$color2: black

// Navigation

.logo
  height: 50px
  @media (min-width: 768px)
    height: 80px

a
  &:hover, &:focus
    color: $color1 !important
    background: none !important
    text-decoration: none

.navbar
  margin-bottom: 0

.navbar-toggle
  padding: 15px 10px
  .icon-bar
    height: 5px
    background: $color1

.nav > li > a
  font-size: 120%
  text-transform: capitalize
  &:hover, &:focus, &:active
    font-weight: bold
    color: $color1
    text-decoration: none
    background-color: none

.active
  color: $color1
  text-decoration: none
  background-color: none

// Carousel

.carousel-caption
  h2
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif
  p
    font-family: "Helvetica Neue", "Arial", sans-serif
    color: #ffffff
  @media (min-width: 768px)
    left: 15%
    right: 45%
    bottom: 50%
    text-align: left
    p
      margin: 20px 0px 20px 0px
    .btn-cta-group
      position: absolute
      padding-top: 25px


//Button Stuff

.navbar-btn
  margin-top: 0px

.btn-cta
  @extend .btn
  @extend .btn-primary
  @extend .btn-lg
  padding: 10px 35px
  background: $color1
  border: 2px solid $color1
  &:first-child
    margin-right: 10px
  &:hover, &:focus, &:active
    color: #ffffff !important
    border: 2px solid $color1
    text-decoration: none
    background-color: none
